body {
    width: 100%;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', 'Arial', sans-serif;
    background-color: burlywood;
}

.container {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px auto;
    height: auto;
    position: relative;
}

.name-artist {
    color: white;
}

.logo {
    margin-top: 10px;
    width: 100%;
}

header {
    position: relative;
    text-align: center;
}

.navbar {
    margin-top: 15px;
    margin-bottom: 10px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head {
    width: 100%;
    position: absolute;
    top: 60px;
    display: flex;
    flex-direction: column;
}

.on-main {
    margin-left: 40px;
    text-decoration: none;
    color: black;
    padding: 10px;
    border: 1px solid black;
}

.on-email {
    cursor: pointer;
    margin-right: 30px;
    margin-left: auto;
    color: black;
    padding: 10px;
    border: 1px solid black;
}

.container-btns {
    display: flex;
}

.list-of-concerts {
    background-color: chocolate;
    margin-left: 0;
    width: 200px;
    display: none;
    flex-wrap: wrap;
    list-style: none;
    padding: 0px;
    border: 1px solid black;
    align-self: baseline;
    z-index: 1;
}

.list-of-concerts li {
    cursor: pointer;
    padding: 5px;
    width: 100%;
}

.list-of-concerts li:hover {
    background-color: white;
    text-decoration: underline;
}

.on-email:hover {
    text-decoration: underline;
}

.on-main:hover {
    text-decoration: underline;
}

.exit {
    text-decoration: none;
    cursor: pointer;
    margin-right: 30px;
    color: black;
    padding: 10px;
    border: 1px solid black;
}

.exit:hover {
    text-decoration: underline;
}

.about-concert {
    display: flex;
    justify-content: space-around;
}

.main-nav {
    color: white;
    display: inline-block;
}

main h1 {
    color: black;
}

.artist-poll {
    display: inline-block;
    margin-right: 150px;
/*    border: 1px solid black;*/
}

.artist-poll li form {
    font-size: 20px;
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.artist-poll li form select {
    font-size: 12px;
}

.artist-poll li {
    margin-bottom: 20px;
}

.artist-photo {
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #800;
    border-radius: 15px;
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.add-poll {
    display: inline-block;
    width: 45px;
    margin-right: 100px;
    cursor: pointer;
}

.poll-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@keyframes addPoll {
    100% {transform: rotate(45deg) scale(1.2) };
}

.add-poll:hover {
    animation: addPoll .5s ease forwards;
}

.add-poll-form {
    display: none;
    width: 300px;
    border: 1px solid black;
    border-radius: 5px;
}

.add-poll-form form {
    padding-left: 5px;
}

.add-poll-form form input[type="submit"] {
    display: inline-block;
    margin-bottom: 10px;
}

#question {
    margin-top: 10px;
}

#songs {
    margin-bottom: 10px;
}

footer {
    border: 1px solid black;
    min-height: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}