body {
    width: 100%;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', 'Arial', sans-serif;
    background-color: burlywood;
}

.container {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px auto;
    height: auto;
    position: relative;
}

header {
    width: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 1);
}

header .nav {
    background-color: burlywood;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style-type: none;
    display: inline-block;
    border: 1px solid black;
    padding: 10px 20px;
    margin-right: 30px;
}

.auth {
    margin-left: auto;
}

header ul li a {
    text-decoration: none;
    color: black;
}

header ul li a:hover {
    text-decoration: underline;
}

header ul li:hover {
    background-color: chocolate;
}

.logo {
    text-align: center;
    position: relative;
}

.logo img{
    width: 100%;
}

.title-container {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 40px;
}

.title-img {
    height: 50px;
    width: auto;
}

.title {
    margin: 0;
    padding: 0;
    width: 700px;
    font-style: italic;
    font-size: 30px;
}

.sign-in {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding-bottom: 20px;
}

.form-img {
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #800;
    border-radius: 15px;
    width: 400px;
    height: auto;
}

.sign-form {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 400px;
    border: 1px solid black;
}

.for-actors {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 400px;
    border: 1px solid black;
}

.button-who-is {
    cursor: pointer;
    border: 1px solid white;
    background-color: inherit;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
}

.button-who-is:hover {
    background-color: chocolate;
    border-color: black;
}

.sign-form label {
    width: 200px;
}

.sign-form input {
    display: inline-block;
    width: 200px;
}

.input-div {
    margin: 10px;
}

input[type="submit"] {
    display: inline-block;
    cursor: pointer;
    border: 1px solid white;
    background-color: inherit;
    width: 70px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.list-of-concerts {
    margin-bottom: 20px;
}

.list-headers {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin-bottom: 20px;
}

.list-headers h3  {
    margin: 0;
    margin-right: 10px;
    font-size: 30px;
    padding: 0;
}


.list-headers .on-full-page a{
    color: darkblue;
    text-decoration: none;
}

.list-headers .on-full-page a:hover {
    text-decoration: underline;
}

.list-and-img {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.list-of-concerts ol {
    width: 600px;
}

.list-of-concerts ol li a {
    color: darkblue;
    text-decoration: none;
    font-size: 20px;
}

.list-of-concerts ol li a:hover {
    text-decoration: underline;
}

.list-img {
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #800;
    border-radius: 15px;
    display: inline-block;
    width: 400px;
    height: auto;
}

#about {
    font-size: 30px;
}

.p-about {
    font-size: 25px;
}

.img-about {
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #800;
    border-radius: 15px;
    width: 400px;
    margin-right: 20px;;
}

.help {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}

footer {
    border: 1px solid black;
    min-height: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}