body {
    width: 100%;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', 'Arial', sans-serif;
    background-color: burlywood;
}

.container {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px auto;
    height: auto;
    position: relative;
}

.name-artist a {
    text-decoration: none;
    color: black;
}

.name-artist a:hover {
    text-decoration: underline;
}

.logo-div {
    width: 100%;
    height: 700px;
    overflow: hidden;
}

.logo {
/*    height: 700px;*/
/*    object-fit: cover;*/
    margin-top: 10px;
    width: 100%;
}

.logo-site {
    width: 50px;
    margin-right: 25px;
    margin-left: 40px;
}


header {
    position: relative;
    text-align: center;
    margin-bottom: 30px;
}

.navbar {
    margin-top: 15px;
    margin-bottom: 10px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description {
    text-align: right;
    margin-top: 60px;
    line-height: 24px;
    margin-right: 20px;
    font-size: 24px;
    align-self: flex-end;
    color: white;
    width: 400px;
}

.head {
    width: 100%;
    height: 500px;
    position: absolute;
    top: 90px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
}

.on-main {
    margin-left: 40px;
    text-decoration: none;
    color: black;
    padding: 10px;
    border: 1px solid black;
}

.on-email {
    cursor: pointer;
    margin-right: 30px;
    margin-left: auto;
    color: black;
    padding: 10px;
    border: 1px solid black;
}

.list-of-concerts {
    background-color: chocolate;
    margin-right: 0;
    width: 200px;
    display: none;
    flex-wrap: wrap;
    list-style: none;
    padding: 0px;
    border: 1px solid black;
    align-self: baseline;
    z-index: 1;
}

.list-of-concerts li {
    cursor: pointer;
    padding: 5px;
    width: 100%;
}

.list-of-concerts li:hover {
    background-color: white;
    text-decoration: underline;
}

.on-email:hover {
    text-decoration: underline;
}

.on-main:hover {
    text-decoration: underline;
}

.exit {
    text-decoration: none;
    cursor: pointer;
    margin-right: 30px;
    color: black;
    padding: 10px;
    border: 1px solid black;
}

.exit:hover {
    text-decoration: underline;
}

.about-concert {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    margin-right: 30px;
}

.main-nav {
    margin-bottom: 20px;
    color: white;
    display: inline-block;
}

main h1 {
    color: black;
}

.artist-main {
    display: flex;
    align-items: center;
}

.foo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.addPoll {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.artist-poll {
    display: inline-block;
    margin-right: 150px;
/*    border: 1px solid black;*/
}

.artist-poll li form {
    font-size: 20px;
    width: 700px;
}

.artist-poll li form select {
    font-size: 12px;
}

.artist-poll li {
    margin-bottom: 20px;
}

.artist-photo {
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #800;
    border-radius: 15px;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bar {
    height: auto;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-poll {
    display: inline-block;
    width: 45px;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
}

.poll-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

@keyframes addPoll {
    100% {transform: rotate(45deg) scale(1.2) };
}

.add-poll:hover {
    animation: addPoll .5s ease forwards;
}

.add-poll-form {
    margin-top: 10px;
    display: none;
    width: 300px;
    border: 1px solid black;
    border-radius: 5px;
}

.formDiv {
    width: 350px;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.btnContainer {
    min-height: 50px;
    display: flex;
    justify-content: space-around;
}

.add-poll-form form {
    padding-left: 5px;
}

.add-poll-form form input[type="submit"] {
    display: inline-block;
    margin-bottom: 10px;
}

.btn {
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
}

#question {
    margin-top: 10px;
}

#songs {
    margin-bottom: 10px;
}

.joinForm {
    display: none;
}

footer {
/*    border: 1px solid black;*/
    min-height: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer div img {
    width: 100px;
    margin-right: 20px;
}

footer div:first-child {
    display: flex;
    align-items: center;
    margin-right: auto;
}

footer div {
    line-height: 25px;
    margin-right: 20px;
    margin-left: 20px;
}